<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Minimum Viable Pet Shop</title>
    <link href="https://fonts.googleapis.com/css?family=Amarante|Rye" rel="stylesheet">
<link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav id="menu">
  <li class="menu-item"><a href='/pets'>Pets</a></li>
  <li class="menu-item"><a href='/pets/new'>Make a new pet</a></li>
</nav>
<h1 id="logo">Supervets</h1>
    <%= yield %>
  </body>
</html>
