<form method="post" action="/consultation">

  <label for="consultation_time-field">Consultation time:</label>
  <input
  type="text"
  name="consultation_time"
  id="consultation_time-field"
  />

  <label for="treatment-field">Contact Details:</label>
  <input
  type="text"
  name="treatment"
  id="treatment-field"
  />

  <input type="submit" value="New Consultation">

</form>
