<form method="post" action="/vets">

  <label for="name-field">Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  />

  <label for="specialism-field">Specialism:</label>
  <input
  type="text"
  name="specialism"
  id="specialism-field"
  />

  <label for="consultation_select">Select Consultation:</label>
  <select name="consultation_id" id="consultation_select">
    <% @consultation.each do |consultation| %>
    <option value=<%=consultation.id%>><%=consultation.consultation_time%></option>
    <%end%>
  </select>

  <input type="submit" value="New Vet">

</form>
