
<form method="POST" action="/customer/<%= @customer.id %>">
  <label for="name-field">Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  value="<%= @customer.name %>"
  />

  <!-- <label for="appointment-field">Appointment time:</label>
  <input
  type="text"
  name="appointment"
  id="appointment-field"
  value="<%= @customer.appointment %>"
  /> -->

  <label for="contact-field">Contact Details:</label>
  <input
  type="text"
  name="contact_details"
  id="contact-field"
  value="<%= @customer.contact_details %>"
  />

  <input type='submit' value="Edit Customer">
</form>
