<form method="post" action="/customer">

  <label for="name-field">Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  />

  <label for="appointment-field">Appointment time:</label>
  <input
  type="text"
  name="appointment"
  id="appointment-field"
  />

  <label for="pet-field">Pet ID:</label>
  <input
  type="text"
  name="pet"
  id="pet-field"
  />

  <input type="submit" value="New Customer">

</form>
